@media (max-width: 1032px) {
  .app-box {
    margin-top: -300px;
    padding-left: 30px;
    height: 180vh;
    width: 100%;
  }
  #imgIllustration {
    display: none;
  }

  .bodyContainer {
    flex-wrap: wrap;
  }

  .resume {
    width: 65%;
    align-items: center;
    gap: 12%;
  }

  .divNoCard {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }

  .resume {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .divNoCard h2 {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .resume h3 {
    padding-left: 20px;
  }
  .list {
    max-width: 75%;
  }
  .ulList {
    margin-left: 10px;
  }

  .divForm {
    min-width: 605px;
  }
  .valueContainer {
    min-width: 605px;
  }
  .divNoCard img {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .app-box {
    margin-top: -300px;
    padding-left: 30px;
    height: 180vh;
    width: 100%;
  }
  #imgIllustration {
    display: none;
  }

  .bodyContainer {
    flex-wrap: wrap;
  }

  .resume {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 12%;
  }

  .divNoCard {
    display: flex;
    flex-direction: column;
  }

  .divNoCard h2 {
    width: 80%;
    text-align: center;
  }
  .resume h3 {
    padding-left: 20px;
  }
  .list {
    max-width: 75%;
  }
  .ulList {
    margin-left: 36px;
  }

  .divForm {
    min-width: 400px;
  }
  .valueContainer {
    min-width: 400px;
  }
  .divNoCard img {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .app-box {
    margin-top: -300px;
    padding-left: 30px;
    height: 180vh;
    width: 100%;
  }
  #imgIllustration {
    display: none;
  }

  .bodyContainer {
    flex-wrap: wrap;
  }

  .resume {
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 12%;
  }

  .divNoCard {
    display: flex;
    flex-direction: column;
  }

  .divNoCard h2 {
    width: 80%;
    text-align: center;
  }
  .resume h3 {
    padding-left: 20px;
  }
  .list {
    max-width: 75%;
  }
  .ulList {
    margin-left: 36px;
  }

  .divForm {
    min-width: 200px;
  }
  .valueContainer {
    min-width: 200px;
  }
  .divNoCard img {
    width: 95%;
    padding-left: 50px;
  }
}
